.about-container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.about-container h3, .about-container p {
    color: whitesmoke;
    font-family: sans-serif;
    text-align: center;
}

.about-container p:nth-of-type(2) {
    font-size: small;
    margin: 0;
}