.description-container {
    width: 81%;
    margin: auto;
    font-family: sans-serif;
}

.description, .ui {
    text-align: left;
    color: whitesmoke;
}

.ui-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.screenshot-title {
    text-align: center;
    color: whitesmoke;
}

img {
    width: 100%;
    margin: auto;
}

.auth-link {
    color: whitesmoke;
}

@media only screen and (min-width: 768px) {
    .description {
        display: inline-block;
    }

    .ui {
        text-align: center;
    }

    .ui-display-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    img {
        width: 75%;
    }
}

@media only screen and (min-width: 1024px) {
    img {
        width: 65%
    }
}