/* ----------------- Mobile styling -------------------- */

body {
    background-color: #333333;
    margin: 0 0 75px 0;
}

/* login page */

.title {
    text-align: center;
    font-family: sans-serif;
    color: whitesmoke;
}

.login-form-container {
    width: 325px;
    margin-left: auto;
    margin-right: auto;
}

.form {
    text-align: center;
}

.form > input {
    font-size: medium;
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
}

.form > button {
    display: block;
    margin: 5px auto;
    width: 100px;
    font-size: medium;
    padding: 5px;
    border-radius: 15px;
    background-color: #f4f4f4;
    font-family: sans-serif;
}

.toggle-member-txt {
    text-align: center;
    font-family: sans-serif;
    text-decoration-line: underline;
    color: whitesmoke;
}

.signout-txt {
    font-family: sans-serif;
    text-decoration-line: underline;
    color: whitesmoke;
}

/* navbar */

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    margin-top: 5px;
}

.nav-link {
    color: #333333;
    font-family: sans-serif;
    text-decoration-line: underline;
}

/* profile */

.user-greeting {
    text-align: center;
    font-family: sans-serif;
    color: whitesmoke;
}

.about-container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.about-container h3, p {
    color: whitesmoke;
    font-family: sans-serif;
    text-align: center;
}

.about-container p:nth-of-type(2) {
    font-size: small;
    margin: 0;
}

.share-st-new, .hide-form {
    color: whitesmoke;
    font-family: sans-serif;
    text-align: center;
    text-decoration-line: underline;
}

.hide-form {
    font-size: small;
}

.shares-list-container {
    width: 75%;
    margin: 15px auto;
}

.share {
    color: whitesmoke;
    font-family: sans-serif;
    text-align: left;
}

.share h5 {
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 7.5px;
    margin-bottom: 0;
}

.share p {
    text-align: left;
    font-size: small;
    display: inline-block;
}

.edit, .delete {
    padding: 5px;
    margin: 2.5px;
}

.edit {
    color: #32cd32;
}

.delete {
    color: tomato;
}